/requirements.txt
/dist/
/test
/build/
/package-lock.json
*.egg-info
__pycache__
.build
.swiftpm
.hf_token

dictionary*
vocab*
/models/

# Tensors & ML Model
*.onnx
*.pt
*.safetensors
*.mlpackage

# NodeJS
node_modules
node_build
yarn-error.log
